
{% extends 'base.html' %}
{% load static %}
{% block header %}


{% endblock %}


{% block content %}
     <!-- sec -->
     <div class="container-fluid">
        <div class="row mt-5 pt-5 demo">
            <div class="col-lg-6 Health">
                <h1>ABOUT US</h1>
                <p>GMRL Labs: Tripunithura's hub for affordable Health Check Ups</p>
                <p>with cutting-edge analyzers, prioritizing your well-being</p>
   
            </div>
            <div class="col-lg-6 ">
                <img class="w-100" src="{% static 'images/package5.jpg' %}" alt=""  >

            </div>
        </div>
    </div>
    <!-- sec1 -->
 <div class="container-fluid">
<div class="row mt-5 ms-5">
 <div class="col-lg mt-5">
     <p>Welcome to GMRL Laboratories, your premier destination for comprehensive and affordable</p>
     <p>health check-up packages situated in the heart of Thrippunithura. At GMRL, we pride</p>
     <p>ourselves on a commitment to excellence in healthcare, evident through our state-of-the-art,</p>
     <p>fully automated analyzers. These cutting-edge instruments undergo daily verification against</p>
     <p>Biorad USA Quality Controls, ensuring not only the accuracy but also the reliability of your</p>
     <p>diagnostic results.</p>

     <p class="two">Our dedicated team of professionals is here to guide you through every step of your health</p> 
     <p>assessment journey. With a mission to provide the highest standard of care and convenience,</p>
     <p>we prioritize your well-being. GMRL Laboratories stands as a trusted partner on your path to a</p>
     <p>healthier and happier life. Whether you seek routine health check-ups or specialized</p>
     <p>diagnostics, our facility is equipped to meet your diverse healthcare needs.</p>

     <p>Experience peace of mind as you entrust your health to GMRL Laboratories, where precision,</p> 
     <p>affordability, and a commitment to your well-being converge. Your journey to optimal health</p> 
     <p>begins here.</p>
     

     </div>
     <div class="col-lg mt-5">
     <img src="{% static 'images/img4.jpg' %}" alt="" width="560" height="560">
    </div>
</div> 
</div>
{% endblock %}












 

































