
{% extends 'base.html' %}
{% load static %}
{% block header %}


{% endblock %}


{% block content %}



<!-- contact 1 -->
<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-lg-3 square ">
            <i class="fa fa-phone phones p-4 mt-3" style="font-size:30px"></i>
            <p class="envelope mt-3">phone</h5>
            <p class="envelope ">+91764645222</p>
            <p class="envelope ">956433544</p>
        </div>
        <div class="col-lg-3 square p-3">
            <i class="fa fa-envelope phone p-4" style="font-size:30px"></i>
            <p class="envelope mt-3" >Email</p>
            <p class="envelope ">admin@gmail.com</p>
        </div>
        <div class="col-lg-3 square ">
            <i class="fa fa-map-marker phones mt-3" style="font-size:30px"></i>
            <p class="envelope mt-3">Address</p>
            <p class="envelope ">Gmrl Laboratories:chambakkara</p>
            <p class="envelope ">Ernakulam,Ernakulam</p>
        </div>
        <div class="col-lg-3 square ">
            <i class="fa fa-clock-o phone p-4 mt-3" style="font-size:30px"></i>
            <p class="envelope mt-3">Opening Hours</p>
            <p class="envelope ">Mon-Sat: 6am to 6pm</p>
            <p class="envelope ">Sun:6am to 12:30pm</p>
        </div>
    </div>
</div>
<!-- contact 2 -->
<section class="bgcolo mt-3">
<div class="container mt-3 ">
 
  <div class="row mb-5">
    <div class="col-lg-4 mt-5 pt-5 mb-5">
      <img class="w-100 me-5"  src="{% static 'images/package5.jpg' %}" alt="">
    </div>
    <div class="col-lg-8 pb-5 mt-5 pt-5">
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <form>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                        <label for="name"> Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                        <label for="email"> Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="subject" placeholder="Phone">
                        <label for="subject">Phone</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a message here" id="submit" style="height: 100px"></textarea>
                        <label for="message">Subject</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
  </form>

  </div>
</div>
</section>
<!-- contact 3 -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
    
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.776658073607!2d76.32081297577808!3d9.95253157384822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873f5f90cc883%3A0x6b02b06cd62db722!2sGMRL%20Laboratories%20Chambakkara!5e0!3m2!1sen!2sin!4v1700033373524!5m2!1sen!2sin" width="1100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>
  </div>
  <div class="row fixed">
    <div class="col-lg-11"></div>
    <div class="col-lg-1   text-center rightwh" >  <i class="fa fa-whatsapp whatsapp  " style="font-size:36px"></i>
    </div>
  </div>

</div>
{% endblock %}