
{% extends 'base.html' %}
{% load static %}
{% block header %}


{% endblock %}


{% block content %}
     <!-- sec -->
     <div class="container-fluid">
        <div class="row mt-5 pt-5 demo">
            <div class="col-lg-6 Health">
                <h1>Tests</h1>
                <p>GMRL Labs: Tripunithura's hub for affordable Health Check Ups</p>
                <p>with cutting-edge analyzers, prioritizing your well-being</p>
   
            </div>
            <div class="col-lg-6 ">
                <img class="w-100" src="{% static 'images/package5.jpg' %}" alt=""  >

            </div>
        </div>
    </div>
    <!-- sec1 -->
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="tittles">HAEMATOLOGY</h4>
                <h4 class="tittle">COMPLETE BLOOD COUNT(CBC)</h4>
                <p>Hb</p>
                <p class="bluebox">TC</p>
                <p>DC</p>
                <p  class="bluebox">ESR</p>
                <p>Platelet Count</p>
                <p  class="bluebox">AEC</p>
                <p>Retics Peripheral Blood Film (PBF)</p>
                <p  class="bluebox">Malarial Parasite (MP)</p>
                <p>MF</p>
                <p  class="bluebox">LE Cells</p>
                <p>Group Rh</p>
                <p  class="bluebox">Mantoux</p>
                <p>CT</p>
                <p  class="bluebox">PTINR</p>
                <p>APTT</p>
                <p  class="bluebox">PT Index</p>
                <p>Coagulation Profile</p>
                <p  class="bluebox">ICT</p>
                <p>DC</p>
                <p  class="bluebox">Lupus Anticoagulants</p>
                <p>Hb Electrophoresis</p>
                <p  class="bluebox">Protein Electrophoresis</p>
    <h4 class="tittle">URINE</h4>
    <p>Urine Complete Examination</p>
    <p  class="bluebox">Albumin</p>
    <p>Sugar</p>
    <p  class="bluebox">ME</p>
    <p>PREGNANCY TEST</p>
    <p  class="bluebox">Acetone/ PH/ Specific Gravity</p>
    <p>Bile Salt</p>
    <p  class="bluebox">Bile Pigment</p>
    <p>Protein (24Hrs.)</p>
    <p  class="bluebox">Urobilinogen</p>
    <p>Creatinine Clearance (24 Hrs.)</p>
    <p  class="bluebox">Protein Creatinine Ratio (Spot urine)</p>
    <p>Bence Jones Protein</p>
    <p  class="bluebox">VMA (24Hrs.)</p>
    <h4 class="tittle">STOOL</h4>
    <p>Stool Routine examination</p>
    <p  class="bluebox">PH</p>
    <p>Occult Blood</p>
    <p  class="bluebox">Reducing Substance</p>
    <h4 class="tittle">SEMEN ANALYSIS</h4>
    <P>Detailed Semen Examination</P>
    <P  class="bluebox">Semen Fructose</P>
    <h4 class="tittle">MICROBIOLOGY</h4>
    <h4 class="tittle">CULTURE AND SENSITIVITY</h4>
    <p>Urine</p>
    <p  class="bluebox">Blood</p>
    <p>Stool</p>
    <p  class="bluebox">Sputum</p>
    <p>Conj-Swab</p>
    <p  class="bluebox">Pus</p>
    <p>Throat Swab</p>
    <p  class="bluebox">Semen</p>
    <p>Gramsstain</p>
    <p  class="bluebox">Scraping for Fungus</p>
    <p>AFB Culture</p>
    <p  class="bluebox">AFB Stain</p>
    
            </div>
            <div class="col-lg-4">
              <h4 class="tittle">HAEMATOLOGY</h4>
              <h4 class="tittle">DIABETIC PANEL</h4>
              <p>Fasting</p>
              <p  class="bluebox">PPBS</p>
              <p>RANDOM</p>
              <p  class="bluebox">GTT-F 100gm(lhr/2hr/3hr)</p>
              <p>GTT-F 75 gm ( 1/2 hr/ lhr/ V/2 hr/ 2hr)</p>
              <p  class="bluebox">Glucose Challenge test (GCT) lhr.50gm glu</p>
              <p>Glucose Challenge test (GCT) 2hr.75gm glu</p>
              <p  class="bluebox">HBA1C (GLYCOSILATED Hb)
              </p>
              <p>Microalbuminuria</p>
              <p  class="bluebox">Microalbumin to Creatinine Ratio</p>
    <h4 class="tittle">LIPID PROFILE</h4>         
              <p>Cholesterol</p>
              <p  class="bluebox">Triglycerides</p>
              <p>HDL</p>
              <p  class="bluebox">LDL</p>
    <h4 class="tittle">LIVER FUNCTION TEST (LFT)</h4>          
              <p>Bilirubin</p>
              <p  class="bluebox">Total</p>
              <p>Direct</p>  
              <p  class="bluebox">SGOT</p>
              <p>SGPT</p>
              <p  class="bluebox">Alkaline Phosphatase</p>
              <p>Protein</p>
              <p  class="bluebox">Albumin</p>
              <p>Globulin</p>
    <h4 class="tittle">SERUM ELECTROLYTES</h4>
    <p  class="bluebox">Sodium</p>
    <p>Pottasium</p>
    <p  class="bluebox">Chloride</p>
    <p>Bicarbonate</p>
    <h4 class="tittle">KIDNEY FUNCTIONS</h4>
    <p  class="bluebox">Urea</p>
    <p>Creatinine</p>
    <p  class="bluebox">Uric Acid</p>
    <h4 class="tittle">CARDIAC ENZYMES</h4>
    <P>CK</P>
    <P  class="bluebox">CK-MB</P>
    <p>LDH</p>
    <p  class="bluebox">Troponin 1</p>
    
    <h4 class="tittle"> OTHERS</h4>
    <p>Calcium</p>
    <p  class="bluebox">Phosphorous</p>
    <p>Magnesium</p>
    <p  class="bluebox">Ferritin</p>
    <p>lron</p>
    <p  class="bluebox">TIBC</p>
    <p>Gamma GT</p>
    <p  class="bluebox">Lipase</p>
    <p>Amylase</p>
    <p  class="bluebox">Ammonia</p>
    <p>Vit D</p>
    <p  class="bluebox">Vit B12</p>
    <p>Ceruloplasmin</p>
    <p  class="bluebox">Lithium</p>
    <p>IL-6</p>
    <p  class="bluebox">Direct LDL</p>
    </div>
            <div class="col-lg-4">
              <h4 class="tittle">TORCH PANEL</h4>
              <p>Toxoplasma</p>
              <p  class="bluebox">Rubella</p>
              <p>CMV</p>
              <p  class="bluebox">HSV I &-Il</p>
              <p>HSVI</p>
              <p  class="bluebox">HSVII</p>
              <h4 class="tittle">HEPATITIS PANEL</h4>
              <p>HBsAg (ELISA)</p>
              <p  class="bluebox">AntiHCV (ELISA)</p>
              <p>Anti HCV(Card)</p>
              <p  class="bluebox">Anti HAV IgM</p>
              <p>Anti HAV Igg</p>
              <p  class="bluebox">AntiHbs Total</p>
              <p>AntiHEV IgM</p>
              <p  class="bluebox">AntiHbe Total</p>
              <p>Hbe Ag</p>
              <p  class="bluebox">AntiHbe Total</p>
              <p>Anti Hbc IgM</p>
              <h4 class="tittle">TUMOUR MARKERS</h4>
              <p>CEA</p>
              <p  class="bluebox">AFP</p>
              <p>CA 19.9</p>
              <p  class="bluebox">CA 125</p>
              <p>CA 15.3</p>
              <p  class="bluebox">PSA</p>
              <p>Free PSA</p>
              <p  class="bluebox">Beta HCG</p>
    <h4 class="tittle">HORMONES</h4>
    <p>T3</p>
    <p  class="bluebox">T4</p>
    <p>TSH</p>
    <p  class="bluebox">Free T3</p>
    <p>ATG</p>
    <p  class="bluebox">AMA</p>
    <p>PTH</p>
    <p  class="bluebox">Free T4</p>
    <p>PJAMH</p>
    <p  class="bluebox">AntiCCP Estradiol (E2)</p>
    <p>LHFSH</p>
    <p  class="bluebox">Protein Creatinine Ratio (Spot urine)</p>
    <p>Testosterone</p>
    <p  class="bluebox">Progesterone</p>
    <p>DHEA-S</p>
    <p  class="bluebox">Cortisol</p>
    <p>Anti dS DNA</p>
    <p  class="bluebox">C3</p>
    <P>C4</P>
    <P  class="bluebox">Prolactin DHEA</P>
    <p>Free Testosterone</p>
    <p  class="bluebox">PCOD Profile</p>
    <p>Anti phospholipid IgG, IgM</p>
    <p  class="bluebox">Anti Cardolipin Antibodies IgG, IgM</p>
    <p>Anti Sperm Anti Body (ASAB)</p>
    <p  class="bluebox">Total IgE</p>
    <p>Immunoglobulin IgA, IgG, IgM</p>
    <p  class="bluebox">Thyroglobulin</p>
    <p>Cystatin-C</p>
    <p  class="bluebox">Dual Test (gestation below 13 weeks)</p>
    <p>Triple Marker (gestation 14-20 weeks)</p>
    <p  class="bluebox">Quadruple Test (gestation 14-22 weeks)</p>
    <p>TBPCR (Blood, Urine, Sputum)</p>
    <p  class="bluebox">TB Gold</p>
    <p>ANAIFA</p>
    <p  class="bluebox">ANA Profile</p>
    <h4 class="tittle">ALLERGY PANEL</h4>
    <p>Food Allergens panel (40)</p>
    <p  class="bluebox">Food Allergens panel (20)</p>
    <p>Inhalation Allergens Panel (33)</p>
    <p  class="bluebox">Inhalation Allergens Panel (20)</p>
    <p>Food And Inhalation paediatric</p>
            </div>
        </div>
    </div>

    {% endblock %}












 

































