.tittle{
    color: blue;
}
.tittles{
    background-color: green;
    color: white;
}
.bluebox{
    background-color: rgb(204, 216, 226);
}
.ab{
    text-decoration: none;
}
.abc{
    text-decoration: none;
}